.header{
    position: relative;
    padding-top: 60px;
    @include xxs{
        padding-top: 34px;
    }
    &::before{
        position: absolute;
        content: "";
        background: radial-gradient(50% 50% at 50% 50%, rgba(92, 135, 251, 0.46) 0%, rgba(41, 44, 52, 0) 100%);
        width: 50vw;
        height: 50vh;
        max-width: 1500px;
        max-height: 1500px;
        top: -100%;
        left: -30%;
        z-index: -1;
        @include sm{
            max-width: 600px;
            max-height: 600px;
        }
        @include xs{
            max-width: 300px;
            max-height: 300px;
        }
    }
    /*&__glow{
        width: 50vw;
        height: 50vh;
        max-width: 1500px;
        max-height: 1500px;
        top: -25%;
        left: -25%;
        z-index: -1;
        @include sm{
            max-width: 600px;
            max-height: 600px;
        }
        @include xs{
            max-width: 300px;
            max-height: 300px;
        }
    }*/
    &__wrap{
        position: relative;
        z-index: 10;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @include sm{
            //flex-direction: column;
            justify-content: center;
        }
        
    }
    &__logos{
        display: flex;
        gap: 40px;
        justify-content: center;
        align-items: center;
        height: 87px;
        @include xs{
            height: 57px;
        }
        @include xxs{
            gap: 20px;
        }

    }
    &__logos-line{
        width: 0.78px;
        height: 100%;
        background-color: $main-color;
    }
    &__partners{
        display: flex;
        gap: 40px;
        justify-content: center;
        align-items: center;
        @include xs{
            position: relative;
            flex-direction: column;
            gap: 0;
            
        }
    }
    &__partner{
        @include xs{
            position: absolute;
            left: 0;
            bottom: -22px;
        }
    }
    &__partner-text{
        font-size: 18px;
        color: rgba(255, 255, 255, .5);
        font-family: $astra, sans-serif;
        @include xs{
            font-size: 8px;
            line-height: 10px;
            
        }
    }
    &__social{
        height: 34px;
        display: flex;
        gap: 60px;
        align-items: center;
        justify-content: center;
        @include xs{
            margin-top: 16px;
            height: 20px;
            gap: 45px;
        }
        
    }
    &__logo-link{
        &_ocs{
            width: 150px;
            height: 62px;
        }
        &_astra{
            height: 48px;
            width: 180px;
        }
        @include xs{
            &_astra{
                height: 30px;
                width: 108px;
            }
            &_ocs{
                width: 94px;
                height: 39px;
            }
        }
    }
    &__logo{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
    &__social-link{
        height: 100%;
        @include xs{
            width: 92px;
            &:first-child{
                margin-left: 14px;
            }
        }

    }
    &__social-icon{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
}