@import 'libs/normalize';
@import 'base/fonts';
@import 'base/variables';
@import 'base/mixins';
@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/footer';




body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: $regular, sans-serif;
    color: $main-color;
    background-color: #0D0E0F;
    font-size: 16px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    &.locked {
        overflow: hidden;
    }
}


* {
    box-sizing: border-box;
    margin: 0;
    //outline: 1px solid red;
}

html {
    scroll-behavior: smooth;
}

header {
    padding: 0;
}

button{
    padding: 0;
    background-color: transparent;
    border: none;
}

h1, h2, h3, h4 {
    margin: 0;
    font-weight: normal;
}


img{
    width: auto;
    max-width: 100%;
    height: auto;
}
    

iframe, img, svg, video{
    max-width: 100%;
    vertical-align: top;
    height: auto;
}
    

p{
    margin: 0;
}


ul{
    margin: 0;
    padding-left: 0;
}
    

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

    
.container {
    max-width: 1610px;
    margin: 0 auto;
    padding: 0 20px;
    @include xxs{
        padding: 0 16px;
    }

}

.section-title{
    font-family: $bold, sans-serif;
    font-size: 40px;
    //line-height: 138%;
    font-style: normal;
    font-weight: 700;
    @include xxs{
        font-size: 28px;
    }
}

.main-btn{
    height: 64px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: $bright-color;
    color: $main-color;
    font-size: 24px;
    font-family: $astra, sans-serif;
    cursor: pointer;
    &:hover{
        background-color: #6A36FF;
    }
    &:active{
        background-color: #4200FF;
    }
    @include xs{
        font-size: 20px;
    }
}

.block{
    background: linear-gradient(110.53deg, rgba(70, 73, 135, 0.5) 0.56%, rgba(39, 48, 97, 0.5) 98.22%);
    //background-color: rgba(78, 78, 128, 0.3);
    border: 2px solid;
    border-image: linear-gradient(110.53deg, rgba(70, 73, 135, 0.5) 0.56%, rgba(39, 48, 97, 0.5) 98.22%);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    box-shadow: 0px 4px 80px 0px #00000033;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.social-icon{
    fill: rgba(255, 255, 255, .1);
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.glow-blue{
    position: absolute;
    background: radial-gradient(50% 50% at 50% 50%, rgba(92, 135, 251, 0.46) 0%, rgba(41, 44, 52, 0) 100%);
}
.glow-lightBlue{
    position: absolute;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 54, 248, 0.3) 0%, rgba(41, 44, 52, 0) 100%);
}
.glow-orange{
    position: absolute;
    background: radial-gradient(50% 50% at 50% 50%, rgba(248, 59, 0, 0.3) 0%, rgba(41, 44, 52, 0) 100%);
}